# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
[Ll]ogs/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.vs/
*.pub
*.vsidx
# OS
.DS_Store
Thumbs.db

# 密钥、配置
*.key
*.pem
/Assets/StreamingAssets/*
/Assets/Resources/*Secret*
/Assets/AssetStoreTools/*

#打包文件
*.apk
*.unitypackage

